@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MinhaTerceiraAplicacaoMVC.Models.FestaModel

<div class="areaOpcao">
    <div class="cabecalhoAreaOpcao">
        <div class="voltar">
            <a href="..\Festa\Festa">@Html.Raw(File.ReadAllText(Server.MapPath("~/Content/Images/back.svg")))</a></div>
        <div class="textoFesta">
            Cadastro Festa</div>
    </div>
    <div class="linhaCabecalho">
    </div>
    @using (Html.BeginForm())
    {
    <div class="areaFormulario">
        
        <div id="campoId">
            @Html.TextBoxFor(x => x.Id, new { type = "number", @class = "inputId", placeholder = "ID" })
            </div>
        <div id="campoNome">
            @Html.TextBoxFor(x => x.Nome, new { type = "text", @class = "inputNome", placeholder = "Nome" })
            </div>
        <div id="campoData">
            @Html.TextBoxFor(x => x.Data, new { type = "date", @class = "inputData", placeholder = "Data" })</div>
        <div id="campoValorDoIngresso">
            @Html.TextBoxFor(x => x.ValorIngresso, new { type = "number", @class = "inputValor", placeholder = "Valor Do Ingresso" })
            </div>
        <div id="campoTotalDeConvidados">
            @Html.TextBoxFor(x => x.TotalDeConvidados, new { type = "number", @class = "inputConvidados", placeholder = "Total de Convidados" })
            </div>
                   
         <div class="areabotao">
            <button id="botaoCadastrar" class="botao" type="submit">
                Confirmar
                </button>
        </div>
    </div>

    }
</div>

@section css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Css/festa.frontend.views.festa.edit.css")" />
}
